input[type='number'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

label {
  /* text-decoration: bold; */
  padding: 1rem;
}

#external_div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
}

#button {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#button button {
  background-color: #a49694;
  cursor: pointer;
}

div[id='result'] {
  text-align: center;
  font-size: larger;
}

div[id='heading'] {
  text-align: center;
}

div[id='send_email_div'] {
  text-align: center;
}
